/*LISTAS
------------------------------*/
/*podriamos diferenciarlas de las <li> / <ul>*/
#Nav #ul
{
	padding:;/*CUIDADO: se perdera la sangria predeterminada: ul{padding:0 0 0 xpx} */
	margin:;
	width:;
}
#Nav #ul>li
{
	/*CENTRADO HTAL de elementtos BLOCK, comportamiento == {display: inline} (no hay salto de linea)*/
	display: inline-block;
	width:;
	margin: 0 auto;
	/*CENTRADO HTAL de elementtos INLINE, el TEXTO dentro de las <li>*/
	text-align: center, justify, left, right ;
	border:;
	border-radius:;
	list-style-position: inside / outside;/*los elementos de enumeracion *enum* pertenecen al <ul>*/
										  				/*outside: *enum* pertenece <ul>*/
										  				/*inside: *enum* pertenece <li>*/
										  				/*el apdding de <ul> que renderiza el navegador NO se ve afectado*/
	list-style-type: none / lower-roman / upper-roman / ;	/*tipo de enumeracion*/
	list-style-image:url("") ;
	padding:;/*IMP*/
}


/*RENDERIZAR estilo de las listas <li>*/
#Nav ul>li:LINK, #ejem3 #Nav ul>li:VISITED
{
	background-color: ;
	color: ;
}
#Nav ul>li:HOVER, #ejem3 #Nav ul>li:ACTIVE
{
	background-color: ;
	color: ;
}


/*MENU DE NAVEGACION HORIZONTAL
------------------------------*/
nav#nav
{
	margin: 0 auto;
	width: 700px;/*ancho total*/
}
nav#nav ul
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
	width: 100%;
}
nav#nav ul>li:first-child
{
	margin-left: 0px;
}
nav#nav ul>li
{
	display: inline-block;
	margin: 0;
	margin-left: -4px;
	padding: 0;
	width: 100px;/*700px / 7(elementos)*/
}


/*HIPERENLACE
------------------------------*/
/*enlace de navegacion(#Nav) != enlace de contenido(ContentNav)*/
#Nav a, #Nav a:LINK, #Nav a:VISITED, #Nav a:HOVER
{
	text-decoration: none;
	display:block;
}
#Nav a:LINK/*NO has visitado aun*/
{
	color: rgb(169,169,169);/*mas claro*/
}
#Nav a:VISITED,  #Nav a:HOVER/*Si lo has visitado */
{
	color:  rgb(105,105,105);/*mas oscuro*/
}
#Nav a:HOVER/*el puntero de raton esta sobre <a>*/
{
	border-bottom: 1px dotted black;
	display : inline-block list-item run-in compact marker table inline-table table-row-group inline-table ;
}


/*FUENTES
------------------------------*/
p
{
	font: [font-style   font-variant   font-weight]  font-size/line-height   font-family;
	font-style: italic ;
	font-variant: small-caps;
	font-weight: bold   lighter;
	font-size:  px  % medium ;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Goudy Bookletter 1911',
		'Linux Libertine O', 'Liberation Serif', Candara, serif;

}
p
{
	text-transform: capitalize;/*la primera letra de cada palabra en mayusculas*/
	text-transform: uppercase / lowercase;/*todas en mayusculas / minusculas*/
	text-decoration: underline;/*subrayado*/
}


/*FUENTES EXTERNAS
------------------------------*/
/*ID# Lo consigues abriendo el .svg y buscando el atributo "id"*/
@font-face{
	font-family: "gotico";
	src: 	url("../font/Gothic.eot");/*IE*/
	src: 	url("../font/Gothic.eot?#IEfix") format("embedded-opentype"),
			url("../font/Gothic.woff") format("woff"),
			url("../font/Gothic.ttf") format("truetype"),/*.ttf bits´s embedded must be set in installable for execute in IE*/
			url("../font/Gothic.svg?#svgFontName") format("svg");
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
p
{
	font-family: "gotico";
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 29, 2013 */


/*OCULTAR TEXTO
------------------------------*/
header>h1
{
	text-indent:-9999px;
	background: transparent url(../img/titulo.png) no-repeat top left;/*sustituimos el titulo por una imagen*/
}


/*ALINEACION, SANGRADO
------------------------------*/
p, li
{
	text-indent: ;/*la sangria de la linea 1º linea, tabulacion*/
	text-align: center, justify, left/right ;/*parrafo centrado, justificado, alineado ala izq/dch*/
	padding-left: px; /*sangrado de todo el parrafo en px*/
	letter-spacing: ;/*espacio entre letras*/
	word-spacing: ;/*espacio entre palabras*/
}


/*DISPLAY
------------------------------*/
/*etiquetas que NO rompen la linea*/
span, a
{
	/*hacemos un bloque con cada etique, por lo que saltamos de linea*/
	display:block;
}
/*etiquetas que saltan de linea antes y despues de la etiqueta*/
h1, p, div, li
{
	display:inline;
}


/*BACKGROUND-IMG
------------------------------*/
section
{/*width height*/
	background-image: url("");
	background-repeat: repeat-x;/*imagen repetida en x=0*/
	background-repeat: repeat-y;/*imagen repetida en y=0*/
	background-repeat: no-repeat;/*imagen sin repetir*/
}
section
{
	background-image: url("");
	background-position: 0px 0px;/*x, y*/
	background-position: top center bottom left right;
}
section
{
	background-image:url("");
	background-attachment: fixed;/*posicion relativa, la imagen acompaña al movimiento*/
	background-attachment: scroll;/*posicion relativa el navegador, la imagen no se mueve*/
	background-attachment: local;
}
section
{
	background: aqua url("arlo.jpg") no-repeat right top fixed;
	background-color: black;
	background-image: url("arlo.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}
section
{
	background: black url("arlo.jpg") no-repeat right top fixed;
	background-clip: border-box|padding-box|content-box;/*¿cual es el area afectada por el backgrouund color?*/
}
/*HIPERENLACES CON BACKGROUND*/
<a href="#" class="logo">texto alternativo del enlace</a>
.logo
{
	display : block;
	background: url(logo.png);
	width: 100px;
	height: 25px;
	text-indent: -9999px;
}

/*MOSTRAR ENLACE EN EL DOCUMENNT*/
a:after
{
	content: ": ("attr(href)")";
}

/*SPRITES: se trata de tener una image que representa dos estados de un elemento*/
<a href="" class="sprite">enlace twitter fernando</a>
.sprite
{
	background: url(logoTweet.png);
	display: block;
	width: 100px;/*la imagen es de 200*100*/
	height: 100px;
	text-indent: -9999px;
}
.sprite:hover
{
	background-position: -100px 0;/*corremos la imagen hacia la derecha*/
}

/*TABLAS
------------------------------*/
/*preferecia,el border mas anchos tiene preferecia: si hay espacio != entre celdas, sigue la regla de 'fusion de amrgenes'*/
table
{
	border-collapse: collapse / separate ;/*separate: por defecto f/ navegador*/
	border-spacing: 0px; /*por defecto*/
	empty-cells: hide;/*las celdas que no tienen contenido, se ocultan*/
	padding: 0px 0px;/*relleno a todas las celdas*/
}

/*<colgroup> NO se utiliza, sustituye a CSS
------------------------------*/
<colgroup>
	<col span="2" style=""/> /*'span="2"' primeras 2 columnas que reciben el 'style"'"*/
	<col style=""/>
</colgroup>


/*BORDER-RADIUS
------------------------------*/
p
{/*desde la esquina superior izquierda, en sentido de las agguujas del reloj*/
	border-radius: 10px 20px 10px 20px;
}
p
{/*DOS radios para cada borde, r1(HZTAL) / r2(VERT)*/
	border-radius: 10px 20px 10px 20px / 5px 10px;
}

/*BORDER-IMAGE*/
/* Con la primera medida indicaríamos a que distancia estaría la guía horizontal superior, con la segunda la guía vertical derecha, con la tercera la guía horizontal inferior y con la cuarta la guía vertical izquierda*/
p
{
	border-image: url(borde.jpg), 12 12 12 12 repeat repeat;
}



/*FIJAR MENU DE NAVEGACION
------------------------------*/
header>nav
{
	position:fixed;
	top:0;
	width: 75%;
	height: 100px;
}
header>p
{
	margin-top: 50px;
}


/*FLOTAR ELEMNTOS
------------------------------*/
<div id="contenedor" class="groupFloat" >
	<figure>
		<img src="" alt=""/>
		<figcaption>pie imagen</figcaption>
	<figure>
	<p>contenido</p>
</div>
/*los bloque <p> <figure>, floten, y permanezcan dentrio de su contenedor*/
.groupFloat:before,
.groupFloat:after
{
	content: "";
	display: table;
}
.groupFloat:after
{
	clear: both;
}
#contenedor>figure
{
	float: left;
}
#contenedor>p
{
	float: right;
}


/*CALCULO
(todas las operaciones amtematicas que desees)
(valores negativos = 0)
------------------------------*/
#contiene_calc
{
	width :90%;
	border:1em solid #6988A5;
	margin: 0 auto;
}
.calculado
{
	float  : left;
	padding: 1em;
	margin : 1%;
	border : 2px solid red;
	width  :-webkit-calc(100%/3 - 1em*2 - 1%*2 - 2px*2);
	width  :-moz-calc(100%/3 - 1em*2 - 1%*2 - 2px*2);
	width  :calc(100%/3 - 1em*2 - 1%*2 - 2px*2);
}

/*HERENCIA - prioridad de selectores
------------------------------*/
p { color: #fff !important; } /* ! */
<h1 style="color: #000;">Mogul</h1> /*1,0,0,0*/
#header { color: #444245; } /*0,1,0,0*/
.intro { color: #98c7d4; } /*0,0,1,0*/
p { color: #fff; } /*0,0,0,1*/

/*se compara el valo de la prioridad mar alta*/
.intro p.article{ color: #fff;} /*0,0,2,1*/
.intro ul li.active{ color: #125454;} /*0,0,2,2*/
/*suponiendo que ambos seletores apuntan al mismo elemento, se aplicara el segundo selector: color: #125454*/


/*SELECTORES
------------------------------*/
/*http://librosweb.es/css_avanzado/capitulo_3/selectores_de_css_3.html*/
ul>*
{
	/*TODOS LOS HIJOS*/
}
ul>li:first-child
{
	/*PRIMER HIJO*/
}
ul>li:last-child
{
	/*ULTIMO HIJO*/
}
ul>li.texto+li
{
	/*HERMANO "li" consecutivo (INMEDIATAMENTE DESPUES) de un "li.texto"*/
}
ul>li.texto~li
{
	/*TODOS LOS HERMANOS consecutivos a "li.texto"*/
}
#miparrafo>*:not(.mitexto)
{
	/*EXCEPCION*/
	/*de todos los hijos de "id='miparrafo'", aquellos que no tengan una clase "class='mitexto'"*/
}
ul>li:nth-child(3)
{
	/*tercer hijo, de una sucesion de hermanos*/
}
ul>li:nth-last-child(1)
{
	/*ultimo elemento*/
}
ul>li:nth-child(even)
{
	/*pares, items pares de un lista*/
}
ul>li:nth-child(odd)
{
	/*impares*/
}
#table tbody>tr>td:nth-child(2n+1)
{
	/*empezando por el principio: desde el primero (1), cada dos ()2n)*/
}
#table tbody>tr>td:nth-last-child(2n+2)
{
	/*empezando por el final: desde el segundo (2), cada dos (2n))*/
}
p:first-line{}

p:first-letter{}

p[name^="mi"] /*<p name="mitexto"></p>*/
{
	/*parrafo cuyo class EMPIEZE por "mi"*/
}
p[name$="mio"] /*<p name="textomio"></p>*/
{
	/*parrafo cuyo class TERMINE por "mi"*/
}
p[name*="mi"] /*<p name="textomicasa"></p>*/
{
	/*parrafo que INCLUYE "mi"*/
}
a[href^="mailto"]
{
	/*enlace que apunte a una direccion de correo*/
}
a[href$=".php"]
{
	/*enlace que apunta a un documento PHP*/
}
p::selection
{
	/*seleccion del puntero*/
	background-color: red;
}
/*CLASES separadas por ESPACIOS: <article class="resaltado archivo ingles"></article>*/
article[class~="resaltado"]{}
article[class~="archivo"]{}
article[class~="ingles"]{}

/*CLASES separadas por GUIONES: <article class="resaltado-archivo-ingles"></article>*/
article[class|="resaltado"]{}
article[class|="archivo"]{}
article[class|="ingles"]{}

/*PSEUDOCLASES*/
/*-----ENLACES-----*/
:link — el estado normal, predeterminado de los enlaces, así como los encuentra por primera vez.
:visited — selecciona enlaces que ya ha visitado anteriormente con el navegador que está usando.
:focus — EVENTO TECLADO: selecciona enlaces en los que se encuentra posicionado el cursor del teclado en el momento actual.
:hover — HOVER RATON: selecciona enlaces sobre los cuales se encuentra posicionado el cursor del ratón en el momento actual, también conocidos como enlaces activables.
:active — CLICK RATON: selecciona enlaces sobre los que se está haciendo clic en el momento actual, también conocidos como enlaces activos.
:target — CLICK RATON enlace intradocumental: si alcun enlace señala al elemento a traves de la url: <div id="aqui"> <a href="#aqui"> style{div:target{/*estilo*/}}

/*-----INPUT-----*/
:valid — ya se ha validado el input
:invalid — no se ha validado el input
:enabled — ciertos input estan activados
:disabled — ciertos input no estan activados
:checked — checkbox activado

div>p:nth-of-type(5){/*el quinto elemento parrafo de un <div>*/}
div>p:nth-last-of-type(5){}

div:first-child{/*el primer elemento hijo de un<div>*/}
div>p:first-of-type{/*el primer elemento <p> de un <div>*/}

div:last-child{/*el ultimo elemento  hijo de un <div>*/}
div>p:last-of-type{/*el ulñtimo elemento <p> de un <div>*/}

p.textos:root{/*selecciona el elemento raiz del documento*/}
div>*:empty{/*elementos que no tienen hijos*/}
p:not(.textos){/*selecciona elementos que no coincidadn con el selector especificado*/}


/*BOX-SHADOW / TEXT-SHADOW
------------------------------*/
.box
{
	box-shadow: 10px 10px 7px #888; /*px ejeX (+-), px ejeY (+-), difuminacion, color*/
	box-shadow: 5px 5px 10px magenta, -5px -5px 15px blue;/*varias capas de sombra*/
	/*otros navegadores*/
	-webkit-box-shadow:;
	-moz-box-shadow:;
	-o-box-shadow: ;
}


/*TRANSFORMACIONES
------------------------------*/
p
{
	transform: scale(1.1);
	transform: rotate(364deg);/*+ -*/
	transform. scale(1.5);/*zoom al 50%*/
	transform: skewX(20deg);
	transform: skewY(20deg);
	transform: translateX(100px);/*similar a right: left:*/
	transform: translateY(100px);/*similar a top: bottom:*/
}


/*TRANSICIONES
transiciones: efecto de transicion entre un estado y otro que se aplica a un elemento,
puede ser por efecto del hover o que la interaccion con el elemnto crea un cambio de estilo
es decir, se cambia de clase el elemento.
------------------------------*/
transition: property duration timing-function delay;
transition-property:;/*propiedad de transicion:; all / -especifico-*/
transition-duration:;/*tiempo de transicion: segundos*/
transition-timing-function:;/*forma de transicion: linear, ease, ease-in, ease-out, ease-in-out, step(nº_saltos)*/
transition-delay:;/*retardo de transicion, delay:  segundos*/
a
{
	transition: all 0.5s linear 0s;
	transition: color 1s linear 0s, padding 2s ease-out 0s;/*varios elementos con transicion diferentes*/
}
a:hover
{
	/*a todos estos elemento se le aplicara la transicion: (all)*/
	color: magenta;
	padding-right: 50px;
	padding-left: 50px;
	transition: all 0.5s linear 0s;/*se aplicara otra vez la transicion cuando se vaya el puntero*/
}


/*ANIMACIONES controlando la linea de tiempo: @keyframes;
------------------------------*/
animation: name duration timing-function delay iteration-count direction;
div.animacion
{
	-webkit-animation-name: girar-dos;/*Nombre de la animacion, es posible definir varias animaciones con comas*/
	-webkit-animation-duration: 10s;/*ciclo de la animacion*/
	-webkit-animation-iteration-count: infinite;/*numero de veces que se repite*/
	-webkit-animation-delay:1s;/*retardo*/
	-webkit-animation-timing-function: linear;/*ease-out / linear; como s desarrolla la animacion entre frame y frame, es para hacer mas fluida la animacion*/
	-webkit-animation-direction: alternate; /*normal, reverse, alternate, alternate-reverse*/

}
@-webkit-keyframes girar-dos
{
	from /*AL PRINCIPIO: 0seg*/
	{
		left: 0%; /*al principio no te has desplazado*/
		-webkit-transform: rotate(0deg);
	}
	50% /*A LA MITAD: 5seg*/
	{
		left: 100%;/*a la mitad de tiempo te has movido hasta el final*/
		-webkit-transform: rotate(720deg);
	}
	to /*AL FINAL: 10seg*/
	{
		left: 0%; /*al final de la animacion (tiempo: 100% / to) has vuelto a tu posicion original (left: 0%)*/
		-webkit-transform: rotate(0deg);
	}
}


/*POSICIONAR HORIZONTALMENT
------------------------------*/
#wrapper {
	/*sera el contenido de toda la pagina <div id="wrapper">*/
	width: 300px; /*diseño fijo*/
	height: 250px;
	margin: 0px auto;
}


/*POSICIONAR VERTICALMENTE
------------------------------*/
#wrapper {
	/*sera el contenido de toda la pagina <div id="wrapper">*/
	width: 300px; /*diseño fijo*/
	height: 250px;
	margin: 0px auto; /*alineamos horizontalmente*/
	position: absolute; /*respecto el body*/
	top: 50%; /*la situamos en el 4º cuadrante*/
	left: 50%;
	margin-top: -125px; /* wrapper.height/2: 250  = 125px / 2 */
	margin-left: -150px; /* wrapper.width/2: 300 = 150px / 2 */
}


/*PREFIJOS EN ATRIBUTOS CSS3 xa diferentes navegadores
------------------------------*/
#CSS3{
	transform: ;
   -moz-transform: ;		/*Firefox*/
   -webkit-transform: ; /*Safari y Chrome*/
   -o-transform: ;		/*Opera*/
   -khtml-transform: ; 	/*Konkeror*/
   -ms-transform: ;		/*Explorer*/
   -chrome-transform:; 	/*Chrmoe*/
}
div{
	box-sizing: content-box; /*DEFAULT*//*caja-div = width + padding + border + margin*/
	box-sizing: border-box; /*caja-div = width*//*los valores de 'margin, padding, border' se ajustaran al valor de 'width'*/
}


/*MEDIA QUERY - consultas al estado de nuestro navegador*/
/*PANTALLA POR DEFECTO*/
<link href="css/disenyo-base.css" rel="stylesheet" media="all">

/*PDA - PANTALLA MEDIANA*/
<link href="css/disenyo-pda.css" rel="stylesheet" media="screen and (max-width: 900px)">
@media screen and (max-width: 900px) {/*900PX = contenedor-ppal*/
	#contenedor-ppal {
		width: 590px;
	}
}

/*MOVIL VERTICAL*/
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<link href="css/disenyo-movil-vertical.css" rel="stylesheet" media="screen and (max-device-width : 480px)"/>
@media screen and (max-device-width : 480px) and (orientation : portrait){/*vertical*/
	#encabezado, sidebar {
		display: none;
	}
}

/*MOVIL HORIZONTAL*/
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<link href="css/disenyo-movil-horizontal.css" rel="stylesheet" media="screen and (max-device-width : 320px) and (orientation : landscape)"/>
@media screen and (max-device-width : 320px) and (orientation : landscape) {/*panoramico*/
	#encabezado, sidebar {
		display: none;
	}
}

/*RESPONSIVE BOOTSTRAP*/
@media (max-width: 768px) { body{color: red;} } /*@screen-lg-min*/
@media (min-width: 768px) and (max-width: 992px) { body{color: blue;} }    /*@screen-md-min*/
@media (min-width: 992px) and (max-width: 1200px) { body{color: orange;} } /*@screen-SM-min*/
@media (min-width: 1200px) { body{color: green;} } /*@screen-xs-min*/


/*MEDIA QUERY - Impresion de pantallas*/
/*position: absolute*/
/*top/left/right/bottom: 9in*/
<link rel="stylesheet" href="css/imprimir.css" media="print, projector" />
#contenedor-ppal{
	display: inherit !important;
	color: black;
	background-color: white;
	font-family: Verdana, Arial;
	font-size: 12px;
}
.display-print{
	display:none;
}


/*IMAGENES ESCALABELS*/
/*proyecto GITHUB: https://github.com/scottjehl/picturefill/blob/master/index.html*/
<span data-picture data-alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia">
	<span data-src="external/imgs/small.jpg"></span>
	<span data-src="external/imgs/medium.jpg" data-media="(min-width: 400px)"></span>
	<span data-src="external/imgs/large.jpg" data-media="(min-width: 800px)"></span>
	<span data-src="external/imgs/extralarge.jpg" data-media="(min-width: 1000px)"></span>

	<!-- Fallback content for non-JS browsers -->
	<noscript><img src="external/imgs/small.jpg" alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia"></noscript>
</span>



/*IMAGENES RESPONSIVE*/
.logo{
	max-width: 100%;
	background-image: url(../img/logo.png) no-repeat;
	width: 25%;
}
/**/
/*para immitar el doble (o 1.5 veces) la densidad de pixeles en pantallas de retina display,
tenemos la opcion de escalar la imagen al doble de sus dimensiones y reducir la resolucion al 50%;
(el problema es que estamos hablando de imagenes muy grandes, pesadas y latencias con respuestas largas en el navegador)
PERO TENEMOS OTRA OPCION...@media queris para un diseño responsivo;
*/
@media all{
	.logo{
		background-image: url(../img/logo.png) no-repeat;
	}
}
/*primero duplicamos la imagen, creando una imegen extra pero que no se carga hasta toparse con el disositivo: imagen@2x.png*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
	.logo{
		background-image: url(../img/logo@2x.png);/*24px * 32px*/
		-webkit-background-size: 12px 16px;
		background-size: 12px 16px;
	}
}
/*dispositivos con una densidad de pixeles de 1.5 COMO MINIMO, osea que a partir de esta con displays de mayor ratio de densidad, se ejecutara este fragmento de codigo*/


/*DEGRADADOS*/
#p
{
	background: linear-gradient([position,] [colorStop,] color1, color2, color3);
	[position: top left / 200deg]
	[colorStop: #fff 50%]
}